@media(min-width: 768px){
   .img-grid-sec {
      grid-template-columns: repeat(3, 1fr);
   }

   .img-grid-sec .grid-img {
      background: var(--dark-lt);
   } 
   .img-grid-sec .grid-img:nth-child(odd) {
      background: var(--dark-md);
   }
}

@media(min-width:992px){
   .img-grid-sec {
      grid-template-columns: repeat(4, 1fr);
   }
   /* For the first four divs: alternate starting with odd */
   .img-grid-sec .grid-img:nth-child(-n + 4):nth-child(odd) {
      background: var(--dark-md);
   } 
   .img-grid-sec .grid-img:nth-child(-n + 4):nth-child(even) {
      background: var(--dark-lt);
   }
   /* For divs after the first four: alternate starting with even */
   .img-grid-sec .grid-img:nth-child(n + 5):nth-child(odd) {
      background: var(--dark-lt);
   }
   .img-grid-sec .grid-img:nth-child(n + 5):nth-child(even) {
      background: var(--dark-md);
   }
   /* For the first four divs: alternate starting with odd */
   .img-grid-sec .grid-img:nth-child(n + 9):nth-child(odd) {
     background: var(--dark-md);
  } 
  .img-grid-sec .grid-img:nth-child(n + 9):nth-child(even) {
     background: var(--dark-lt);
  }
}

@media(min-width: 1200px){
   .dark-bg-brands .brand-tabs .models-listing .col-lg-3:nth-child(-n+4) .model-here::before,
   .brand-tabs .models-listing .col-xl-2:nth-child(-n+6) .model-here::before,
   .models-listing .col-lg-4:nth-child(-n+3) .model-here::before { content: none; }
}

@media(min-width: 1440px){
   .img-grid-sec {
      grid-template-columns: repeat(6, 1fr);
   }
   /* For the first six divs: alternate starting with odd */
   .img-grid-sec .grid-img:nth-child(-n + 6):nth-child(odd) {
      background: var(--dark-md);
   } 
   .img-grid-sec .grid-img:nth-child(-n + 6):nth-child(even) {
      background: var(--dark-lt);
   }
   /* For divs after the first six: alternate starting with even */
   .img-grid-sec .grid-img:nth-child(n + 7):nth-child(odd) {
      background: var(--dark-lt);
   }
   .img-grid-sec .grid-img:nth-child(n + 7):nth-child(even) {
      background: var(--dark-md);
   }
}

@media(max-width:1440px){ 
   .carriere-after-img { height: 350px; margin-top: 80px; }
   .carre-form { padding: 100px 0; }
}
@media(max-width:1199px){ 

   body { padding-top: 99px; }
   header .hedlogo { margin: 12px 0; }
   .main-slider { margin-top: -99px; }
   header.headersticky .hedlogo { margin: 6px 0; }
   header .navbarmenu { margin: auto 30px auto auto; }
   #cssmenu > ul > li { margin: 0; position: relative; }

   #cssmenu ul > li > a {
      padding: 17px 15px; color: #fff; border-bottom: 1px solid rgba(255, 255, 255, 0.15);
   }
   #cssmenu ul > li:last-child > a { border-bottom-width: 0; }
   #cssmenu ul ul li > a { border-bottom: 0; }
   #cssmenu ul ul,
   #cssmenu ul > li > ul,
   #cssmenu li:hover > ul { width: 100%; padding: 0; position: static; transform: none; background: rgba(255, 255, 255, 0.8); opacity: 1; visibility: visible; }
   #cssmenu .has-sub .has-sub ul, #cssmenu ul li:hover ul ul { display: block !important; }
   #cssmenu > ul > li > a::before { content: none; }
   #cssmenu .has-sub .has-sub .submenu-button { display: none; }
   #cssmenu ul > li > ul > li.double-grp:nth-child(2),
   #cssmenu ul > li > ul > li.double-grp { width: 100%; float: none; }
   #cssmenu ul > li > ul > li.double-grp:nth-child(n+1) { border-top-width: 1px; }

   .produitsslider-contain .main-titlebar { margin-left: 80px; max-width: 100%; }
   .produitsslider-contain .prod-category { margin-left: 80px; }
   .produitsslider-contain .prodslider-navigation { width: 95px; }
   .produitsslider-contain .produitsslider { padding-left: 95px; }
   .produitsslider-contain { padding: 80px 0; }
   .our-news { margin: 80px 0; }
   .act-subpage-sec { margin: 50px 0; }
   .act-subpage-sec .news-listing .model-here { margin-top: 0; }

   .dark-bg-brands .brand-tabs .models-listing .col-lg-3:nth-child(-n+4) .model-here::before,
   .brand-tabs .models-listing .col-xl-2:nth-child(-n+4) .model-here::before,
   .models-listing .col-lg-4:nth-child(-n+3) .model-here::before { content: none; }
   .brand-tabs .nav-tabs .nav-link,
   .dark-bg-brands .brand-tabs .nav-tabs .nav-link { min-width: auto; }

   footer .footer-nav-links { margin: 30px; }

   .latest-models .main-titlebar { padding: 30px 20% 50px; }

   .our-history .history-img { height: 500px; }

   .detail-history { padding: 80px 0; }

   .carre-form { padding: 75px 0; }
   .carre-form.main-form .bottom-from { margin: 10px 30px; }
   .carre-form.main-form .bottom-from .btn-transfer img { width: 35px; height: 35px; }

}

@media(max-width:991px){ 
   
   body { padding-top: 88px; }
   .main-slider { margin-top: -88px; }
   
   header .hedlogo { width: 130px; height: 64px; }
   .homemainslider { height: 80vh; }
   
   footer .footer-flex { flex-direction: column; }
   footer .footer-right-link { margin: 30px 0 0; }
   footer .social-box { width: 100%; margin-top: 10px; }
   footer .social-box p { text-align: center; }
   footer .footer-right .social-links { justify-content: center; }
   footer .footer-nav-links { margin: 30px 0 0; }

   .main-form .main-form-select .select-flex { flex-direction: column; }
   .main-form .main-form-select .form-select { width: 100%; }

   .produitsslider-contain { padding: 65px 0; }
   .our-news { margin: 50px 0 15px; }
   .act-subpage-sec { margin: 40px 0; }
   
   .latest-models .main-titlebar { flex-direction: column; padding: 25px 10% 60px; }
   .latest-models .main-titlebar h2 { width: 350px; text-align: center; }
   .latest-models .main-titlebar h2 br { display: none; }
   
   .our-news.latest-models .main-titlebar { flex-direction: row; }
   .our-news.latest-models .main-titlebar h2 { text-align: right; }
   
   .models-listing .model-here { padding: 40px 10px; }

   .dark-bg-brands .brand-tabs .models-listing .col-lg-3:nth-child(-n+3) .model-here::before,
   .models-listing .col-lg-4:nth-child(-n+2) .model-here::before { content: none; }
   .dark-bg-brands .brand-tabs .models-listing .col-lg-3:nth-child(4) .model-here::before,
   .models-listing .col-lg-4:nth-child(3) .model-here::before { content: ''; }

   .dark-bg-brands .brand-tabs .models-listing { width: 100%; }
   
   .brand-tabs .nav-tabs .nav-link { flex-grow: 1; }

   .our-location-map { margin-top: 0px; }

   .subpage-header .maintitle h1, .maintitle h2, .about-us h2, .about-us .about-box3 .box-title, .quote-text .main-slider-heading { font-size: 28px; }
   .subpage-title .maintitle h2,
   .homemainslider .banenrtext h2,
   .our-news .main-titlebar h2 { font-size: 38px; }
   .homemainslider .banenrtext { padding: 25px 40px 25px 10%; margin-bottom: 150px; }

   .news-listing .model-here .model-img { height: 240px; }
   .news-listing .model-here .model-img img { object-fit: cover; object-position: center; }
   .news-listing .news-text { gap: 16px; }

   .detail-history::before { width: 280px; height: 480px; }
   .our-history .history-img { height: 400px; }
   
   .detail-history { padding: 50px 0; }
   .history-list > ul { padding-left: 65px; }
   .history-list > ul > li::before { left: -77px; }
   .history-list .his-info ul { padding-left: 35px; }
   .le-grp-dark-brand, .our-location-map { margin-top: 20px; }

   .carre-form.main-form .main-form-search p { font-size: 16px; }
   .carre-form.main-form .main-form-select { padding-left: 0; }
   .carre-form.main-form .bottom-from .btn-transfer img { width: 35px; height: 35px; }
   .carriere-after-img { height: 300px; margin-top: 50px; }
   .carriere-counter .main-count { font-size: 50px; }
   .carriere-counter { margin: 30px 0; padding-bottom: 30px; }


}

@media(max-width:767px){ 
   
   #scroll-to-top { width: 35px; height: 35px; bottom: 45px; right: 15px; }

   .main-form .main-form-select::after { top: 100%; width: 90%; left: 50%; height: 1px; margin-bottom: 20px; transform: translateX(-50%); }
   .main-form .main-form-search { padding: 30px; }
   .main-form .bottom-from .main-form-search { padding: 0px 45px 0px 15px; }

   .produitsslider-contain .main-titlebar { flex-direction: column; align-items: flex-start; }

   .produitsslider-contain .produitsslider::after { content: ''; width: 80px; height: 100%; position: absolute; top: 0%; right: 0; background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); z-index: 1; }

   .models-listing .model-here { max-width: 360px; margin: auto; }
   .news-listing .model-here { margin: 20px auto 40px; }

   .dark-bg-brands .brand-tabs .models-listing .col-lg-3:nth-child(-n+2) .model-here::before,
   .brand-tabs .models-listing .col-xl-2:nth-child(-n+3) .model-here::before,
   .models-listing .col-lg-4:nth-child(-n+1) .model-here::before { content: none; }
   .dark-bg-brands .brand-tabs .models-listing .col-lg-3:nth-child(3) .model-here::before,
   .brand-tabs .models-listing .col-xl-2:nth-child(4) .model-here::before,
   .models-listing .col-lg-4:nth-child(2) .model-here::before { content: ''; }

   .our-history { grid-template-columns: 1fr; }
   .our-history .main-titlebar { padding: 40px 15px; gap: 20px; }
   .our-history .history-img { height: 450px; }

   .our-news.latest-models .main-titlebar { flex-direction: column; gap: 15px; }
   .our-news.latest-models .main-titlebar h2 { text-align: center; width: 100%; }
   .our-news.latest-models .main-titlebar h2 br { display: none; }

   footer .footer-logo { width: 180px; }
   footer::before { width: 316px; top: -240px; height: 500px; }
   .footer-before-style { padding-bottom: 50px; }
   .footer-before-style::after { width: 316px; height: 198px; }
   .footer-before-style > .container::after { bottom: -90px; }

   .news-listing .news-text { margin-top: 15px; height: auto; }
   
   .detail-history::before { content: none; }
   .detail-history { padding: 30px 0; }

   .img-grid-sec { grid-template-columns: repeat(2, 1fr); }
   .img-grid-sec .grid-img { background: var(--dark-md); }
   .img-grid-sec .grid-img:nth-child(4n - 3),  .img-grid-sec .grid-img:nth-child(4n) { background: var(--dark-lt); }

   .dark-bg-brands .brand-tabs .models-listing .model-here { padding: 50px 0; }

   .carre-form.main-form .main-form-select { padding: 0 0 30px; }
   .carre-form.main-form .main-form-select h2 { text-align: center; }
   .carre-form.main-form .main-form-select::after { width: 80%; height: 2px; }
   .carre-form.main-form .main-form-search { text-align: center; }
   .carre-form.main-form .bottom-from { margin: 10px 0; }
   .carriere-after-img { height: 280px; margin-top: 30px; }
   .carre-form.main-form .top-from { margin-bottom: 0; }

}

@media(max-width:575px){

   header .navbarmenu { margin: auto 15px auto auto; }
   header .head-btn { padding: 9px; }
   
   .btn.btn-transfer { white-space: wrap; }

   .carre-form.main-form .main-form-select h2,
   .subpage-header .maintitle h1, .maintitle h1, .maintitle h2 { font-size: 26px; }

   .aligncenter, .alignleft, .alignnone, .alignright, img.aligncenter, img.alignleft, img.alignnone, img.alignright{  display: block;float: none;margin: 20px 0;max-width: 100%; }

   .subpage-title .maintitle h2, .homemainslider .banenrtext h2, .our-news .main-titlebar h2 { font-size: 32px; }
   .homemainslider .banenrtext { width: 100%; padding: 20px; }

   .produitsslider-contain .produitsslider::after { content: none; }

   .latest-models .main-titlebar { margin: 0 -15px; width: calc(100% + 30px); }
   .latest-models .main-titlebar::after { border-radius: 0 0 100% 100% / 0 0 60% 60%; }

   .our-group-brands { padding: 20px 0; }
   .our-group-brands .brand-tabs { padding-top: 30px; }
   
   .our-news { margin-top: 30px; }

   .footer-box-contain .main-form-search { flex-direction: column; align-items: center; }

   footer .footer-linkbox .link-title { width: 150px; }

   footer .footer-right-link { flex-wrap: wrap; justify-content: center; }
   footer .footer-right-link::after { display: none; }

   .dark-bg-brands .brand-tabs .models-listing .col-lg-3:nth-child(-n+1) .model-here::before,
   .brand-tabs .models-listing .col-xl-2:nth-child(-n+2) .model-here::before { content: none; }
   .dark-bg-brands .brand-tabs .models-listing .col-lg-3:nth-child(2) .model-here::before,
   .brand-tabs .models-listing .col-xl-2:nth-child(3) .model-here::before { content: ''; }
   .dark-bg-brands .brand-tabs .models-listing .model-here { padding: 40px 0; }
   .dark-bg-brands .brand-tabs .models-listing .model-here .model-img { height: 140px; }

   .history-list { margin-left: 10px; }
   .history-list > ul { padding-left: 45px; }
   .history-list > ul > li::before { left: -57px; }

   .our-history .history-img { aspect-ratio: 1.5/1; height: auto; }

   .carriere-after-img { height: 220px; }
   .carre-form.main-form .bottom-from .main-form-search { padding: 0 10px; }
   .carre-form.main-form .bottom-from .btn-transfer { flex-direction: column; text-align: center; gap: 10px; }
   .carre-form.main-form .bottom-from .btn-transfer img { margin: auto 45% auto auto; }

   .act-subpage-sec { padding-top: 10px; }

}

@media(max-width: 475px) {

   .produitsslider-contain .main-titlebar { margin-left: 0; }

}